<app-header></app-header>
<div class="container">
  <app-page-header
    [title]="title"
    description="お好みのメニューを選ぶことができます。"
  ></app-page-header>
  <section class="row contact">
    <div class="contact-paper">
      <h2>お問い合わせの流れ</h2>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/01.png"
          class="contact-paper-card-image1"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">01</p>
          <p class="contact-paper-card-text-title">メニューを選択</p>
          <p class="contact-paper-card-text-message">
            「まずは話を聞いてみたい（相談したいも可）」「無料体験を受けてみたい」「すぐに入塾したい」からご希望のメニューを選択することができます。送信ボタンを押すと指定したメールアドレスにご予約の案内メールが届きます。
          </p>
        </div>
      </div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 pc-none"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">02</p>
          <p class="contact-paper-card-text-title">日程調整</p>
          <p class="contact-paper-card-text-message">
            マイネット進学から1営業日以内に日程調整のメールを送らせて頂きます。<br />
            どのメニューを選択した場合でも一度、オンライン面談をさせて頂きます。<br />
            <span
              >※迷惑フォルダにメールが届く場合も御座いますのでそちらもご確認下さい。</span
            >
          </p>
        </div>
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 sp-none"
          alt=""
        />
      </div>
      <div class="spacer sp-none"></div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/03.png"
          class="contact-paper-card-image3"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">03</p>
          <p class="contact-paper-card-text-title">予約日当日</p>
          <p class="contact-paper-card-text-message">
            マイネット進学からビデオ通話のリンクがメールに届きますので、当日はそちらをクリックして入室ください。お使いのスマートフォン、タブレット、PCで通話が可能です（通話は最大1時間です）。ご都合が悪くなった場合の振替も承っております。
            <span>※通話の際、ビデオモードをオフにして頂いて構いません。</span>
          </p>
        </div>
      </div>

      <app-button text="予約フォーム" link="/trial" [width]="250"></app-button>
    </div>

    <h2 class="line-heading">LINEでのお問い合わせ</h2>
    <div class="contact-line">
      <a href="https://lin.ee/iVH6x6T" target="_blank">
        <img
          src="./assets/image/line-cta.png"
          class="contact-line-cta"
          alt="友だち追加"
        />
        <img
          src="./assets/image/line-qr.png"
          class="contact-line-qr"
          alt="友だち追加"
        />
      </a>
    </div>
    <p class="contact-line-text">
      スマートフォンの方は上のボタンから簡単に友だち追加できます。または、LINEアプリにて「143nvqtl」で<br
        class="sp-none"
      />
      ID検索、またはQRコードを読み込んで「マイネット進学」を友だち追加してください。
    </p>

    <h3>LINE無料受験相談の簡単3ステップ！</h3>
    <img
      src="./assets/image/line-step-pc.png"
      class="contact-line-step sp-none"
      alt=""
    />
    <img
      src="./assets/image/line-step-sp.png"
      class="contact-line-step pc-none"
      alt=""
    />
  </section>
</div>
<app-footer></app-footer>
