<app-header></app-header>
<div class="container">
  <app-page-header
    [title]="title"
    description="お好みのメニューを選ぶことができます。"
  ></app-page-header>
  <section class="row contact">
    <div class="contact-paper">
      <h2>お問い合わせの流れ</h2>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/01.png"
          class="contact-paper-card-image1"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">01</p>
          <p class="contact-paper-card-text-title">メニューを選択</p>
          <p class="contact-paper-card-text-message">
            「まずは話を聞いてみたい（相談したいも可）」「無料体験を受けてみたい」「すぐに入塾したい」からご希望のメニューを選択することができます。送信ボタンを押すと指定したメールアドレスにご予約の案内メールが届きます。
          </p>
        </div>
      </div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 pc-none"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">02</p>
          <p class="contact-paper-card-text-title">日程調整</p>
          <p class="contact-paper-card-text-message">
            マイネット進学から1営業日以内に日程調整のメールを送らせて頂きます。<br />
            どのメニューを選択した場合でも一度、オンライン面談をさせて頂きます。<br />
            <span
              >※迷惑フォルダにメールが届く場合も御座いますのでそちらもご確認下さい。</span
            >
          </p>
        </div>
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 sp-none"
          alt=""
        />
      </div>
      <div class="spacer sp-none"></div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/03.png"
          class="contact-paper-card-image3"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">03</p>
          <p class="contact-paper-card-text-title">予約日当日</p>
          <p class="contact-paper-card-text-message">
            マイネット進学からビデオ通話のリンクがメールに届きますので、当日はそちらをクリックして入室ください。お使いのスマートフォン、タブレット、PCで通話が可能です（通話は最大1時間です）。ご都合が悪くなった場合の振替も承っております。
            <span>※通話の際、ビデオモードをオフにして頂いて構いません。</span>
          </p>
        </div>
      </div>
    </div>

    <div class="contact-form-paper">
      <h2>お問い合わせに関して</h2>
      <p>
        お問い合わせ後、<br class="pc-none" />1営業日以内にご連絡差し上げます。
      </p>

      <form
        action="https://docs.google.com/forms/d/e/1FAIpQLSc0VI9MGAzPcy7tiyupDv1gwVpipJX-KuU2nPot6KKG6MQ48Q/formResponse"
        class="form-container"
      >
        <div class="contact-form-group">
          <div>希望メニュー<span class="text-red"> ※</span></div>
          <div>
            <div class="form-radio my-2">
              <input
                class="form-radio-input"
                type="radio"
                value="まずは話を聞いてみたい"
                id="select-course1"
                name="entry.25222454"
                checked
              />
              <label class="form-radio-label" for="select-course1">
                まずは話を聞いてみたい
              </label>
            </div>
            <div class="form-radio my-2">
              <input
                class="form-radio-input"
                type="radio"
                value="無料体験を受けたい"
                id="select-course2"
                name="entry.25222454"
              />
              <label class="form-radio-label" for="select-course2">
                無料体験を受けたい
              </label>
            </div>
            <div class="form-radio mb-2">
              <input
                class="form-radio-input"
                type="radio"
                value="入塾したい"
                id="select-course3"
                name="entry.25222454"
              />
              <label class="form-radio-label" for="select-course3">
                入塾したい
              </label>
            </div>
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="parent-name"
            >保護者様氏名<span class="text-red"> ※</span></label
          >
          <input
            type="text"
            class="form-control"
            name="entry.1830998424"
            id="parent-name"
            placeholder="（必須）例：田中　花子"
            required
          />
        </div>

        <div class="form-group">
          <label for="parent-name-kana"
            >フリガナ<span class="text-red"> ※</span></label
          >
          <input
            type="text"
            class="form-control"
            name="entry.96940126"
            id="parent-name-kana"
            placeholder="（必須）例：タナカ　ハナコ"
            required
          />
        </div>

        <div class="form-group">
          <label for="mail-adress"
            >メールアドレス<span class="text-red"> ※</span></label
          >
          <input
            type="email"
            class="form-control"
            name="entry.328800566"
            id="mail-adress"
            placeholder="（必須）例：info@example.com"
            required
          />
        </div>

        <div class="form-group">
          <label for="some-request">ご質問・ご要望など</label>
          <textarea
            class="form-control"
            name="entry.232600986"
            id="some-request"
            placeholder="ご質問・ご要望など"
            rows="3"
          ></textarea>
        </div>
        <div class="trial-app-button">
          <app-button
            text="送信する"
            [width]="240"
            [submit]="true"
            (click)="gtagConversion()"
          ></app-button>
        </div>
      </form>
    </div>
  </section>
</div>
<app-footer></app-footer>
