<app-header></app-header>
<div class="container">
  <app-page-header
    [title]="title"
    description="お問い合わせは24時間365日承っております。"
  ></app-page-header>
  <section class="row contact">
    <div class="contact-paper">
      <h2>いつでもご相談下さい</h2>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/01.png"
          class="contact-paper-card-image1"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">01</p>
          <p class="contact-paper-card-text-title">公式LINEを追加</p>
          <p class="contact-paper-card-text-message">
            お申し込みは24時間受け付けております。<br />問い合わせを頂いてから1営業日以内にご連絡差し上げます。
          </p>
        </div>
      </div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 pc-none"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">02</p>
          <p class="contact-paper-card-text-title">オンライン受験相談</p>
          <p class="contact-paper-card-text-message">
            お子様の現在の内申点、通学距離などを考慮し、受験校になりそうな都立共通問題校を3校ピックアップ致します。またそれに合わせた私立併願校のご案内も可能です。塾のシステムに関するご質問も承っております。お気軽にご相談ください。<span
              >※通話の際、ビデオはオフにして頂いて構いません。</span
            >
          </p>
        </div>
        <img
          src="./assets/image/contact/02.png"
          class="contact-paper-card-image2 sp-none"
          alt=""
        />
      </div>
      <div class="spacer sp-none"></div>

      <div class="contact-paper-card">
        <img
          src="./assets/image/contact/03.png"
          class="contact-paper-card-image3"
          alt=""
        />
        <div class="contact-paper-card-text">
          <p class="contact-paper-card-text-index">03</p>
          <p class="contact-paper-card-text-title">入塾審査</p>
          <p class="contact-paper-card-text-message">
            ご希望の方のみ、入塾審査を承っております。<br class="sp-none" />
            審査は主に中学1年2学期終了時点の内申点を用いて行っております。<br
              class="sp-none"
            />
            オンライン受験相談と同じ日に行うことも可能です。
          </p>
        </div>
      </div>
    </div>

    <h2 class="line-heading">公式LINEの追加はこちら</h2>
    <div class="contact-line">
      <a href="https://lin.ee/iVH6x6T" target="_blank">
        <img
          src="./assets/image/line-cta.png"
          class="contact-line-cta"
          alt="友だち追加"
        />
        <img
          src="./assets/image/line-qr.png"
          class="contact-line-qr"
          alt="友だち追加"
        />
      </a>
    </div>
    <p class="contact-line-text">
      スマートフォンの方は上のボタンから簡単に友だち追加できます。または、LINEアプリにて「143nvqtl」で<br
        class="sp-none"
      />
      ID検索、またはQRコードを読み込んで「マイネット進学」を友だち追加してください。
    </p>

    <h3>LINE無料受験相談の簡単3ステップ！</h3>
    <img
      src="./assets/image/line-step-pc.png"
      class="contact-line-step sp-none"
      alt=""
    />
    <img
      src="./assets/image/line-step-sp.png"
      class="contact-line-step pc-none"
      alt=""
    />
  </section>
</div>
<app-footer></app-footer>
