<app-header></app-header>

<div class="container">
  <app-page-header
    [title]="title"
    description="保護者から頂いた質問を随時、追加しております。"
  ></app-page-header>

  <section class="row faq">
    <div>
      <p><span>Q</span>通塾するにあたって揃えるべきものはありますか？</p>
      <p><span>A</span>タブレット、またはPCをご用意ください。</p>
    </div>
    <div>
      <p><span>Q</span>タブレットの貸し出しはありますか？</p>
      <p>
        <span>A</span>
        貸し出しはしておりません。各ご家庭でご用意して頂く必要がございます。
      </p>
    </div>
    <div>
      <p><span>Q</span>保護者面談はありますか？</p>
      <p>
        <span>A</span
        >保護者の希望制で実施しております。チャットでご連絡頂くと日程調整させて頂きます。面談もオンライン形式です。
      </p>
    </div>
    <div>
      <p><span>Q</span>支払いについて教えてください。</p>
      <p>
        <span>A</span>
        前払い制を採用させていただいております。以下に例を記載しましたのでご参考ください。<br /><br />
        　　【7月分】<br />
        請求日：6月1日（クレジットカードのみ対応）<br />
        支払期日：6月15日<br />
        ※入塾が決まった際に請求のご案内を差し上げております。
      </p>
    </div>
    <div>
      <p><span>Q</span>夏期講習や冬期講習の受講は必須ですか？</p>
      <p>
        <span>A</span
        >必須ではありません。希望制です。こちらから営業をかけることは御座いません。
      </p>
    </div>
    <div>
      <p><span>Q</span>授業の振替は可能ですか？</p>
      <p>
        <span>A</span>
        はい、可能です。生徒、講師双方の振替を認めております。
      </p>
    </div>
    <div>
      <p><span>Q</span>入塾審査に関して具体的な指標は御座いますか？</p>
      <p>
        <span>A</span
        >はい、中学1年2学期終了時点（12月の成績表）で成績に2が無いことを入塾の基準にしています。尚、国数英のうちどれか1科目4あれば良いと考えています。※ただ実力があるにも関わらず教師との相性で低い評価を付けられてしまっている方もいらっしゃるかと思います。一度、お問い合わせからご相談ください。
      </p>
    </div>
  </section>
</div>

<app-footer></app-footer>
