<app-header></app-header>

<div class="container">
  <app-page-header
    [title]="title"
    description="保護者から頂いた質問を随時、追加しております。"
  ></app-page-header>

  <section class="row faq">
    <div>
      <p><span>Q</span>通塾するにあたって揃えるべきものはありますか？</p>
      <p><span>A</span>タブレット、またはPCをご用意ください。</p>
    </div>
    <div>
      <p><span>Q</span>タブレットの貸し出しはありますか？</p>
      <p>
        <span>A</span>
        貸し出しはしておりません。各ご家庭でご用意して頂く必要がございます。
      </p>
    </div>
    <div>
      <p><span>Q</span>保護者面談はありますか？</p>
      <p>
        <span>A</span
        >保護者の希望制で実施しております。チャットでご連絡頂くと日程調整させて頂きます。面談もオンライン形式です。
      </p>
    </div>
    <div>
      <p><span>Q</span>支払いについて教えてください。</p>
      <p>
        <span>A</span>
        前払い制を採用させていただいております。以下に例を記載しましたのでご参考ください。<br /><br />
        　　【7月分】<br />
        請求日：6月1日（クレジットカードのみ対応）<br />
        支払期日：6月15日<br />
        ※入塾が決まった際に請求のご案内を差し上げております。
      </p>
    </div>
    <div>
      <p><span>Q</span>夏期講習や冬期講習の受講は必須ですか？</p>
      <p>
        <span>A</span
        >必須ではありません。希望制です。こちらから営業をかけることは御座いません。
      </p>
    </div>
    <div>
      <p><span>Q</span>授業の振替は可能ですか？</p>
      <p>
        <span>A</span>
        はい、可能です。生徒、講師双方の振替を認めております。
      </p>
    </div>
    <div>
      <p>
        <span>Q</span>教室がないとのことですが、生徒はどこで勉強していますか？
      </p>
      <p>
        <span>A</span
        >マイネット進学の生徒は自分の部屋や、リビング、最寄りの図書館など本人が場所を決めて自習しています。
      </p>
    </div>
    <div>
      <p><span>Q</span>誰でも入塾できますか？</p>
      <p>
        <span>A</span
        >以下の項目に当てはまる方はミスマッチを起こすことが予想されるので入塾をお断りしております。<br />
        ・都立高校を志望していない。<br />
        ・学校の授業（英語と数学の理解）に大きく遅れを取っている。具体的には成績が2など補講が急務である状態。<br />
        ・ITツールの使用、オンライン形式に抵抗がある。<br />
        ・誰かに見張られていないと勉強に集中できない。<br />
        ・オンラインはサボれるという考えを持っている。<br />
        ・塾に来て先生や友達とお喋りしたい。
        ・学校の提出物が間に合っていない。<br />
        ・塾に学習指導以外のこと（生活指導なども）して欲しいと考えている。<br />
        ・子どものやる気自体がないのでやる気を引き出して欲しい。<br />
      </p>
    </div>
    <div>
      <p><span>Q</span>授業日はどのようにして決まりますか？</p>
      <p>
        <span>A</span
        >入塾をご検討の方にはオンライン面談時に希望の曜日と時間をいくつか伺います。<br />
        最大で3日ほど日程調整に時間を頂き、授業日が確定したタイミングでお知らせ致します。<br />
        契約はその後になります。
      </p>
    </div>
  </section>
</div>

<app-footer></app-footer>
