.footer {
  background-color: #243484;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px 0 30px 0;
}

.footer-text {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin: 0 auto 10px;
}

.copyright-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
