.footer {
  background-color: #243484;
  text-align: center;
}

.footer-text {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.copyright-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
