<app-header></app-header>

<div class="container">
  <section class="row header">
    <h1>{{ title }}</h1>
    <p>
      現在通っている生徒はもちろん、過去に卒業した生徒の声、保護者の声も含まれています。
    </p>
  </section>

  <section class="row voice">
    <div>
      <div>
        <img src="./assets/image/student/01.png" alt="student01" />
        <span>上板橋第三中学</span>
        <p>
          塾内の人間関係や知らない人が大勢いる空間が苦だったので自分に合いました。
        </p>
      </div>
      <div>
        <img src="./assets/image/student/02.png" alt="student02" />
        <span>中台中学</span>
        <p>
          これまでは通塾のための準備（着替えや持ち物準備）が面倒だったがそういった手間が解消された。
        </p>
      </div>
      <div>
        <img src="./assets/image/student/03.png" alt="student03" />
        <span>志村第一中学</span>
        <p>
          通塾していた時は移動時間が本当に無駄で勿体なかった。効率化できて良かった。
        </p>
      </div>
      <div>
        <img src="./assets/image/student/04.png" alt="student04" />
        <span>志村第一中学</span>
        <p>通わなくて済むのでコロナの感染リスクを避けられた。</p>
      </div>
    </div>
    <div>
      <div>
        <img src="./assets/image/student/05.png" alt="student05" />
        <span>板橋第一中学</span>
        <p>
          これまで「理解すること」で止まっていた。考え方を変えて正確にアウトプットできるかテストする習慣がついた。
        </p>
      </div>
      <div>
        <img src="./assets/image/student/06.png" alt="student06" />
        <span>上板橋第三中学</span>
        <p>
          一方的な講義型でなく、講師とマンツーマンでやり取りができる点が良かった。
        </p>
      </div>
      <div>
        <img src="./assets/image/student/07.png" alt="student07" />
        <span>上板橋第三中学</span>
        <p>
          個別に通っていたが個別と言っても1対2なので、講師が自分以外の人に対応している時間は声をかけずらかったり、間が生じる。マンツーマンなのでそのようなストレスが無くなった。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_short.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          塾に行く手間がなくなり喜んでいました。時間効率が上がったと思います。
        </p>
      </div>
    </div>
    <div>
      <div>
        <img src="./assets/image/parent/woman_long.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          連絡がオンラインチャットでできるので楽でした。また何があった場合、すぐに連絡できる点が良かったです。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_smile.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          教室も自習室もないので、自宅で自習できない生徒は大変だと思います。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_short.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          進学に向けた全体のスケジュールと勉強すべき量が明確な点が良かったです。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_long.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          ある程度自分で進められる子には合うと思いますが、そうでない子には合わないと思います。
        </p>
      </div>
    </div>
    <div>
      <div>
        <img src="./assets/image/parent/woman_smile.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          公立中学の授業スピードに合わせるのではなく、進学を意識して進めてくれるので助かります。志望校にも合格できました。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_short.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          マンツーマンなので一般的な個別より細かく見てもらえる点が良かったです。
        </p>
      </div>
      <div>
        <img src="./assets/image/parent/woman_long.svg" alt="woman_short" />
        <span>保護者の声</span>
        <p>
          講習などの営業トークがなく、こちらから選択できる点が良かったです。
        </p>
      </div>
    </div>
  </section>
  <section class="row notice">
    <p>
      ミスマッチを事前に防ぐことは双方にとって大切なことだと考えています。<br
        class="sp-none"
      />
      「うちの子どもを勉強好きにさせて欲しい」<br class="sp-none" />
      「勉強しないのでやる気を出させて欲しい」<br class="sp-none" />
      「勉強しないので注意して欲しい」<br class="sp-none" />
      このようなニーズにお応えすることはできません。
    </p>
  </section>
</div>

<app-footer></app-footer>
