<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-boy.png" alt="boy1" width="80px" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          <span class="no-wrap">通う前は１年半ずっと20点代だったが、</span>
          <span class="no-wrap">使ってからは70点代に伸びて、</span><br />
          <span class="no-wrap">今は80点が当たり前になった。</span>
        </p>
      </div>
      <p class="small ml-4">板橋第一中学校　N.Sさん</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-girl.png" alt="girl1" width="80px%" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          すでに学んだことを学校で教わるので、学校の授業が復習になり理解度が増した。
        </p>
      </div>
      <p class="small ml-4">志村第一中学校　H.Tさん</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-boy.png" alt="boy2" width="80px%" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          他の塾で4コマかけて教えてもらったことが1コマ以内に学び終わった。<br />
          早く終わる分、時間が浮いて他の科目や復習にあてることができた。
        </p>
      </div>
      <p class="small ml-4">志村第一中学校　J.Tさん</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-girl.png" alt="girl2" width="80px%" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          学校の先生が解説することは全て学び終わっているので、<br />
          授業がかなり楽になった。
        </p>
      </div>
      <p class="small ml-4">上板橋第三中学校　Y.Wさん</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-boy.png" alt="boy3" width="80px%" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          <span class="no-wrap"
            >Course6では勉強はLeadbook、講師は学習の管理や将来のことなど</span
          >
          <span class="no-wrap">幅広く相談に乗ってくれる。</span>
        </p>
      </div>
      <p class="small ml-4">大東文化大学第一高等学校　T.Oさん</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mt-4 pr-0 pt-2 text-right">
      <img src="./assets/image/icon-girl.png" alt="girl3" width="80px%" />
    </div>

    <div class="col-9 col-offset-1 pl-4">
      <div class="balloon">
        <p class="more-small">
          学校の先生が授業中に問題を出しても答えを知っているため、<br />
          周りの生徒が考えている間は暇になった。
        </p>
      </div>
      <p class="small ml-4">上板橋第三中学校　D.Kさん</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
