.header {
  height: 200px;
  background: #243484;
  text-align: center;
  flex-direction: column;
  padding-top: 47px;
  margin-bottom: 40px;
  h1 {
    font-size: 32px;
    line-height: 47px;
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
}

.voice {
  display: block;
  > div {
    display: flex;
    justify-content: center;
    div {
      text-align: center;
      height: 372px;
      width: 238px;
      background: #ffffff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      padding: 24px 24px 0 24px;
      > img {
        height: 80px;
        width: 80px;
      }
      > span {
        display: block;
        font-size: 12px;
        line-height: 160%;
        color: #999999;
        margin: 8px 0 16px 0;
      }
      > p {
        text-align: start;
        line-height: 160%;
      }
    }
    div:not(:last-child) {
      margin: 0 16px 57px 0;
    }
  }
}

.notice {
  p {
    line-height: 160%;
    color: #999999;
    margin: 22px 0 100px 0;
  }
}

@media (max-width: 749px) {
  .header {
    text-align: start;
    margin-bottom: 0;
    padding: 40px 16px 0 16px;
    h1 {
      font-weight: 900;
      font-size: 32px;
      line-height: 140%;
      margin-bottom: 16px;
    }
  }

  .voice {
    display: block;

    > div {
      display: block;
      div {
        text-align: start;
        height: 100%;
        width: 343px;
        display: block;
        padding: 16px 16px 1px 16px;
        margin: 0 10px 10px 16px;
        > img {
          margin: 0 5px 12px 0;
        }
        > span {
          display: initial;
        }
      }
      div:not(:last-child) {
        margin: 0 10px 10px 16px;
      }
    }
  }

  .notice {
    p {
      line-height: 160%;
      color: #999999;
      margin: 45px 16px 100px 16px;
    }
  }
}
