<div class="container first bg-white">
  <div class="row">
    <div class="col"></div>
    <nav class="navbar navbar-expand-sm fixed-top bg-white">
      <div class="container my-1">
        <a class="navbar-brand logo-blue" (click)="goToLink('/')"></a>

        <div class="btn-group">
          <button
            type="button"
            class="btn btn-light menu-btn"
            (click)="openMenu()"
          >
            <span data-txt-menu="三" data-txt-close="×"></span>
          </button>
        </div>
      </div>
    </nav>
    <nav class="menu" (click)="closeMenu()">
      <div class="mt-5">
        <ul>
          <li><a (click)="goToLink('price')">料金</a></li>
          <li><a (click)="goToLink('student-voice')">生徒の声</a></li>
          <li><a (click)="goToLink('faq')">よくある質問</a></li>
          <li><a (click)="goToLink('trial')">無料個別相談</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
