<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col mt-3 mb-3">
    </div>
  </div>
</div>

<div class="container bg-gray p-4">
  <div class="container bg-white mt-3 text-gray p-4">
    <form
      action="https://docs.google.com/forms/d/e/1FAIpQLScMInIacCt4FvWOlqim1Eux5GAyKoHjFJNmxDz0lw3axm5q-Q/formResponse"
    >
      希望メニュー<span class="text-red"> *</span>
      <div class="form-radio my-2">
        <input
          class="form-radio-input"
          type="radio"
          value="まずは話を聞いてみたい"
          id="select-course1"
          name="entry.25222454"
          checked
        />
        <label class="form-radio-label" for="select-course1">
          まずは話を聞いてみたい
        </label>
      </div>
      <div class="form-radio my-2">
        <input
          class="form-radio-input"
          type="radio"
          value="無料体験を受けたい"
          id="select-course2"
          name="entry.25222454"
        />
        <label class="form-radio-label" for="select-course2">
          無料体験を受けたい
        </label>
      </div>
      <div class="form-radio mb-2">
        <input
          class="form-radio-input"
          type="radio"
          value="入塾したい"
          id="select-course3"
          name="entry.25222454"
        />
        <label class="form-radio-label" for="select-course3">
          入塾したい
        </label>
      </div>

      <div class="form-group mt-3">
        <label for="parent-name"
          >保護者氏名<span class="text-red"> *</span></label
        >
        <input
          type="text"
          class="form-control"
          name="entry.1830998424"
          id="parent-name"
          placeholder="例)　田中　花子"
          required
        />
      </div>

      <div class="form-group">
        <label for="parent-name-kana"
          >保護者氏名(カナ)<span class="text-red"> *</span></label
        >
        <input
          type="text"
          class="form-control"
          name="entry.96940126"
          id="parent-name-kana"
          placeholder="例)　タナカ　ハナコ"
          required
        />
      </div>

      <div class="form-group">
        <label for="mail-adress"
          >メールアドレス<span class="text-red"> *</span></label
        >
        <input
          type="email"
          class="form-control"
          name="entry.328800566"
          id="mail-adress"
          placeholder="例)　example@example.com"
          required
        />
      </div>

      <div class="form-group">
        <label for="some-request">ご質問・ご要望・ご希望など</label>
        <textarea
          class="form-control"
          name="entry.232600986"
          id="some-request"
          rows="3"
        ></textarea>
      </div>
      <div class="trial-app-button">
        <app-button
          text="この内容で送信する"
          [width]="240"
          [submit]="true"
          (click)="gtagConversion()"
        ></app-button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
