h4 {
  font-weight: bold;
}

.text-red {
  color: red;
}

.btn-blue {
  background-color: #243484;
}

.bg-gray {
  background-color: #fafafa;
}

.trial-app-button {
  text-align: center;
}

//.form-radio-input {
//  top: 2px;
//}
