<app-header></app-header>

<div class="container text-center" id="about-content">
  <div class="row">
    <div class="col-md mt-4 mb-3">
      <img src="./assets/image/icon-catch.png" alt="icon" width="150px" />
    </div>
  </div>

  <div>
    <span class="noto500 more-small"> より早く、より賢く、より安く </span>
  </div>
  <div class="my-2">
    <span class="text-gray">||</span>
  </div>
  <div class="mb-4">
    <img src="./assets/image/logo-leadbook.png" alt="icon" width="100px" />
  </div>

  <div class="row">
    <div class="col-md">
      <p class="middle-small hei190">
        講師のスキルに依存する従来の塾では<br />
        <span class="no-wrap">生徒が抱える「わからない」を</span>
        <span class="no-wrap">的確に発見し解決する作業に、</span><br />
        膨大な時間とコストを要します。<br />
        Course6では講師はあくまでサポートに徹し、<br />
        <span class="no-wrap">勉強は「Leadbook」という</span>
        <span class="no-wrap">独自に開発したテキスト教材で行います。</span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md mb-2">
      <p class="middle-small hei190">
        <span class="no-wrap">Leadbookは一般的なテキストよりも</span>
        <span class="no-wrap">多くの確認問題を出題しており、</span><br />
        <span class="no-wrap">「わからない」でつまづくことの</span>
        <span class="no-wrap">ないよう設計されています。</span><br />
        <span class="no-wrap">小さな成功体験の積み重ねから、</span>
        <span class="no-wrap">生徒の自信にコミットすることで</span><br />
        学習の理解度やスピードを格段に飛躍させます。
      </p>
    </div>
  </div>
</div>

<div class="container bg-white pt-4">
  <div class="row why mb-4">
    <div class="col-xs-7 offset-md-4 col-md-3 pr-0">
      <h5>なぜ<br />勉強を嫌うのか？</h5>
    </div>
    <div class="col-xs-5 col-md-5 mt-about">
      <p class="pain-small text-gray">
        わからない＝Pain（痛み）<br />
        痛みの期間＝Pain Period
      </p>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-4 col-md-7">
      <p class="btn-small">
        学習時に直面する「わからない」は"痛み"です。<br />
        この痛みは、<br />
        「分からない」→「できない」→
        <span class="no-wrap">「楽しくない」→「嫌いになる」</span><br />
        という流れを生み、<br />
        生徒は勉強を嫌いになって逃げてしまうのです。
      </p>
      <p class="btn-small pb-5">
        多くの痛みを感じている生徒には、
        <span class="no-wrap">その痛みの原因がわからず</span><br />
        「何がわからないのか分からない」状態にあります。<br />
        本当に理解すべき部分がわからないため、<br />
        教師や講師に助けを求めても的確な教示が受けられず、<br />
        いつまでたっても問題が解決されないのです。
      </p>
    </div>
  </div>
</div>

<div class="container p-4" id="bottom-content">
  <h5 class="text-white space3">授業料</h5>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">英語コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />英語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />国語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />定期テスト過去問<br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-blue
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              href="trial.html"
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">数学コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0"></p>
          <p class="card-text space2 text-gray small noto500">
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />数学カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />国語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />定期テスト過去問<br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-blue
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              href="trial.html"
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card society">
        <div class="card-body text-center">
          <p class="text-gray yet h2">準備中</p>
          <p class="card-title">理科・社会コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <br />
            <br />
            <br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-secondary
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

