<div class="container footer">
  <div class="row">
    <div class="mx-auto mt-4 mb-3">
      <img src="./assets/image/logo-white.png" alt="foot-logo" width="22%" />
    </div>
  </div>
  <div class="row">
    <div class="d-none d-sm-block mx-auto mb-3 more-small">
      <a routerLink="/about" class="text-white mr-3">塾について</a>
      <a routerLink="/price" class="text-white mr-3">授業料</a>
      <a routerLink="/student-voice" class="text-white mr-3">生徒の声</a>
      <a routerLink="/faq" class="text-white mr-3">よくある質問</a>
      <a routerLink="/trial" class="text-white mr-3">無料体験</a>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <p class="text-white foot-small space1">
        COPYRIGHT ©2021 Course6 ALLRIGHTS RESERVED.
      </p>
    </div>
  </div>
</div>
