<div class="container footer mw-100">
  <div class="row">
    <div class="mx-auto mt-4 mb-3 brand">
      マイネット進学
    </div>
  </div>
  <div class="row">
    <div class="d-none d-sm-block mx-auto mb-3 more-small">
      <a routerLink="/price" class="text-white mr-3">授業料</a>
      <a routerLink="/student-voice" class="text-white mr-3">生徒の声</a>
      <a routerLink="/faq" class="text-white mr-3">よくある質問</a>
      <a routerLink="/trial" class="text-white mr-3">無料相談</a>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <p class="text-white foot-small space1">
        COPYRIGHT ©2022 mynetshingaku ALLRIGHTS RESERVED.
      </p>
    </div>
  </div>
</div>
