<app-header></app-header>

<div class="container">
  <app-page-header
    [title]="title"
    description="随時情報を更新します。"
  ></app-page-header>

  <section class="row common-exam">
    <div class="exam-paper">
      <h2>都立入試の今</h2>

      <h3>4人に1人が落ちる都立入試とは?</h3>
      <p>
        東京都教育委員会が公表している「令和5年度東京都立高等学校入学者選抜応募状況」によると、2023年度の都立高校入試では、約4人に1人が不合格となっています。その上、偏差値の高い高校や、人気のある高校は、受験生が多いため、更に競争率が上がります。例えば、共通問題校の中で人気のある豊島高校の2023年度の倍率は、2倍となっており、2人に1人しか合格しないハードルを通過しなければなりませんでした。つまり、競争率の高い人気校を志望するのであれば、相応の準備をしっかりしておく必要があります。<br /><br />
        では、偏差値の高い高校や、人気校にはどのような特徴があるのでしょうか？当たり前ですが、人生は高校生活で終わりません。多くの生徒が卒業後、大学進学か、就職をします。大学に進学するための準備として、受験勉強が必要になり、高校の授業では十分な学習環境を整えられないために通塾することも多いですが、一般的に人気校と呼ばれる高校では、大学進学を見据えて授業やサポート体制が組み立てられています。また、そうした高校は高いレベルの大学を目指す生徒が多いため、自分の目標も高いレベルに設定しやすくなります。要するに人気校は、勉学に励む環境を作りやすいという特徴があります。
      </p>

      <h3>都立"共通"入試とは?</h3>
      <p>
        都立入試の学力検査問題は、都立高校共通問題と自校作成問題との2種類に分けられます。共通問題校では、東京都教育委員会が作成した共通の試験問題が出題されます。<br /><br />
        一方で、自校作成問題校では、自校がそれぞれ作成した独自の試験問題が出題されます。一般的に、自校作成問題よりも共通問題の方が難易度が低いとされます。しかし、だからといって共通問題校に合格する難易度が低くなるというわけではありません。問題の難易度が低くなると、多くの受験生が高得点を取るため、それだけ合格ラインが高くなるということです。もちろん、倍率の高い人気校は合格ラインが更に高くなります。人気のある共通問題校の例を以下に列挙しています。志望校が含まれていれば、より一層の努力が必要になるでしょう。この他にも、倍率の高い高校はたくさんあるため、ご自身の志望校の難易度を調べ、必要な対策を行いましょう。
      </p>

      <h3>人気のある共通問題校の例</h3>
      <p>
        <b>旧第一学区</b><br />
        小山台高校、三田高校、雪谷高校、田園調布高校<br /><br />
        <b>旧第二学区</b><br />
        駒場高校、目黒高校、広尾高校<br /><br />
        <b>旧第三学区</b><br />
        豊多摩高校、井草高校、石神井高校、武蔵丘高校<br /><br />
        <b>旧第四学区</b><br />
        竹早高校、北園高校、文京高校、豊島高校、向丘高校<br /><br />
        <b>旧第五学区</b><br />
        上野高校、江北高校<br /><br />
        <b>旧第六学区</b><br />
        小松川高校、江戸川高校、深川高校、東高校<br /><br />
        旧第七学区<br /><br />
        町田高校、日野台高校、南平高校、成瀬高校<br /><br />
        <b>旧第八学区</b><br />
        昭和高校、東大和南高校<br /><br />
        <b>旧第九学区</b><br />
        武蔵野北高校、小金井北高校、小平高校、清瀬高校、小平南高校<br /><br />
        <b>旧第十学区</b><br />
        調布北高校、狛江高校、神代高校、調布南高校、府中高校
      </p>

      <h3>もうすぐはじまる男女別定員数の撤廃</h3>
      <p>
        東京都教育委員会は、最短で2024年度より、男女別定員数を撤廃することを発表しました。<br />
        従来、男女別に定員が確保されていましたが、これにより性別によって設けられていた合格枠がなくなります。<br /><br />
        この決定の背景の一つに、男女別定員は男女間で合格ラインに差が生じて不公平であるという意見があります。<br />
        毎年、女子の方が合格ラインが高く、男子よりも合格の難易度が高い傾向にありました。2022年度は、男女別定員数がなければ、女子は284人が合格していることが分かっています。言い換えれば、男女別定員数が撤廃されることにより、男子の合格者数が約300人程度減少する可能性があります。<br /><br />
        2024年度以降、男子生徒は（もちろん女子生徒もですが）、定員数に甘えられなくなるため、全受験生の中で合格ラインを越えられるように準備する必要があります。<br />
      </p>

      <h2>都立共通入試に向けた<br class="pc-none" />具体的なアクション</h2>

      <h3>まずは志望校候補を<br class="pc-none" />3校ピックアップ</h3>
      <p>
        「行きたい高校はまだ分からないから、先に自分が行ける高校を知りたい」という声は少なくありません。志望校候補の見つけ方としてオススメなのが、現在の内申点をもとに都立共通入試校の中から、安全校、合格校、チャレンジ校の3校をピックアップする方法です。そして学校別に入試で1科目あたり何点くらい取る必要があるのか求めることでより具体的な目標を立てることができます。もちろん、通学距離や制服、校風、部活動も高校選びでは大切なことだと考える生徒が多くいらっしゃるので、それらも加味して選んで頂くのが良いと思います。目標とする点数が見えてくればあとは戦略を立ててその差を埋めていきます。<br />次の項目で戦略ついて触れていきます。<br /><br />
        当塾の<a (click)="this.router.navigate(['contact'])">「お問い合わせ」</a
        >で上記3校を選ぶお手伝いが可能です。<br />
        オンライン形式で完結し、入塾しなくてもご利用できますので是非ご活用ください。<br />
      </p>

      <h3>資源の投下先は3つしかない?</h3>
      <p>
        目的が決まると次は戦略です。戦略とは「資源の配分」のことです。では生徒が持つ資源は何でしょうか。<br />
        それは「時間」です。この時間をどこに投下するのか選択しなければなりません。<br />都立入試の場合（高校によって点数の付け方に例外はありますが）、内申点300点、スピーキングテスト20点、入試700点の1,020点満点で争い、この3つに時間を投下するのが正しい戦略となります。これではまだ抽象度が高いので、それぞれ掘り下げて何をするのか明確にしていく必要があります。（これ以降は生徒によって異なります。）<br /><br />
        何をするのか明確にするということは、同時に「何をしないか」が明確になります。例えば国語の入試、漢字の「書き」問題では過去10年間、漢字検定4級以上の問題が出題されていません。「クラスの友達に漢字検定3級までやった方が良いと言われた」といって取り組む生徒もいますが、これは戦略（資源の配分）として誤っています。※ちなみに読みの問題は漢字検定準2級の範囲まで出題されたことがあります。「漢字検定準2級レベルはやらなくて良い」と言う声がありますが、漢字検定準2級の「読み」問題に時間を充てることは正しい戦略になります。<br /><br />
        このような戦略は講師だけが理解するのではなく、生徒も理解する必要があります。<br />
        正しい方向で努力することは大切です。<br />
      </p>

      <app-button text="無料相談でより詳しく" link="/contact"></app-button>
    </div>
  </section>
</div>

<app-footer></app-footer>
