@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #eeeeee;
}

.footer{
  background-color: #243484;
  text-align: center;
  position:absolute;
}

#top-content{
  background: url("../image/home-bg-re.jpg") no-repeat center center;
  background-size: 150% 100%;
}

#bottom-content{
  background: url("../image/price-bg.jpg") no-repeat;
  background-size: 100% 180px;
}

#about-content{
  background: url("../image/about-bg.jpg") no-repeat center center;
  background-size: cover;
}

.more-small{
  font-size: 14px;
}

.btn-small{
  font-size: 13px;
}

.middle-small{
  font-size: 11px;
}

.foot-small, .pain-small{
  font-size: 8px;
}

.very-small{
  font-size: 5px;
}

.btn-blue, .bg-blue{
  background-color: #243484;
}

.bg-gray{
  background-color: #eeeeee;
}

.bg-faq{
  background-color: #4B5996;
}

.form-control{
  background-color: #eeeeee;
}

.text-red{
  color: red;
}

.text-blue{
  color: blue;
}

.text-gray{
  color: gray;
}

.logo-blue{
  background: url("../image/logo-blue.png") no-repeat left center;
}

.logo-white{
  background: url("../image/logo-white.png") no-repeat left center;
}

.navbar-brand {
  background-size: contain;
  height: 20px;
  width: 40%;
}

.first{
  margin-top: 55px;
}

.abs{
  position: absolute;
  left: 50%;
}

.why{
  background: url("../image/slash.png") no-repeat;
  /* background: url("../image/icon-boy.png") no-repeat right center; */
  background-position: 58% 20%;
  background-size: 20%;
}

.remove{
  background: url("../image/slash.png") no-repeat;
  background-position: 55% 20%;
  background-size: 15%;
}

.border{
  border-width: 2.5px !important;
}

/* 吹き出し用 */
.balloon {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
}

.balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
 	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
 	z-index: 2;
}

.balloon:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
 	z-index: 1;
}

.balloon p {
	margin: 0;
	padding: 0;
}


/* メニュー用 */
#menu__btn{
  color: blue;
  font-size: 100%;
}

.menu-btn span:after {
  content: attr(data-txt-menu);
}

.open .menu-btn span:after {
  content: attr(data-txt-close);
}

.menu {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu ul {
    display: table-cell;
    vertical-align: middle;
}

.menu li {
    width: 200px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    list-style:none;
}

.menu li a {
    display: block;
    font-size: 200%;
    color: #000;
}

.menu li a:hover {
    color: #999;
}

.open .menu {
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
}

/* フォント用 */
.notobolder{font-weight:bolder;}
.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

/* 字と字の間 */
.space1 {letter-spacing: 1px;}
.space2 {letter-spacing: 2px;}
.space3 {letter-spacing: 3px;}
.space4 {letter-spacing: 4px;}
.space5 {letter-spacing: 5px;}
.space10 {letter-spacing: 10px;}
.space15 {letter-spacing: 15px;}
.space20 {letter-spacing: 20px;}

/* 行間 */
.hei70{line-height: 70%;}
.hei150 {line-height: 150%;}
.hei160 {line-height: 160%;}
.hei170 {line-height: 170%;}
.hei180 {line-height: 180%;}
.hei190 {line-height: 190%;}
.hei200 {line-height: 200%;}

/* ボタン用 */
.px-6{padding: 0.4rem 4rem;}
.px-7{padding: 0.8rem 3.2rem;}
.px-10{padding: 0.5rem 2rem;}
.btn-dark{
  background: rgba(0,0,0,0.2);
}
@media (max-width:335px) {
  .px-7{padding: 0.8rem 2.5rem;}
}

/* about用 */
.mt-about{
  margin-top: 2.4rem !important;
}
