.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    color: #243484;
    font-weight: 500;
    font-size: 35px;
    margin: 75px 0;
  }

  .price-table {
    width: 100%;
    overflow-x: scroll;
    img {
      width: 960px;
    }
  }

  .service-refund-card {
    background: #fff;
    margin-top: 50px;
    padding: 125px 40px 86px 40px;

    h3 {
      color: #35438b;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 10px;
      line-height: 34.28px;
      border-bottom: 1px solid #000278;
    }

    .fee {
      display: flex;
      justify-content: end;
      img {
        width: 430px;
      }
    }

    .service-about-trial {
      margin-top: 50px;
    }

    p {
      color: #333;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
  }
}

@media (max-width: 999px) {
  .service {
    .service-refund-card {
      padding: 0 40px 0 24px;
    }

    .service-refund-card {
      .fee {
        img {
          width: 100%;
        }
      }
    }
  }
}
