<app-header></app-header>
<div class="container">
  <app-page-header
    [title]="title"
    description="シンプルな3つのコース"
  ></app-page-header>
  <section class="row service">
    <h2>料金</h2>

    <img src="./assets/image/price-table.png" class="price-table" alt="" />

    <div class="service-refund-card">
      <h3>成功報酬のお支払い月について</h3>
      <p>
        新学期で兄弟姉妹、お金のかかるタイミングが重なってしまう方は成功報酬の支払い時期を1ヶ月ずらすことが可能です。
      </p>
      <div class="fee">
        <img src="./assets/image/fee.png" alt="" />
      </div>
      <h3 class="service-about-trial">講習について</h3>
      <p>
        当塾は講習なしで合格できるよう計画を立てています。希望があれば承りますが、こちらから勧めることは御座いません。<br />
        ※卒業生全員が講習を1コマも取らずに志望校に合格しています。
      </p>
    </div>

    <app-service-flow-card
      heading="授業の流れ"
      pcImageSrc="./assets/image/service-flow.png"
      spImageSrc="./assets/image/service-flow-sp.png"
    ></app-service-flow-card>
  </section>
</div>
<app-footer></app-footer>
