<app-header></app-header>

<div class="container text-white p-4" id="top-content">
  <div class="row">
    <div class="col-md mt-1">
      <h4 class="noto500 space10 hei150 mb-4">
        中学3年間を、<span class="no-wrap">30時間で。</span>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <p class="noto500 middle-small hei190">
        <span class="no-wrap">Course6は、独自に開発した</span>
        <span class="no-wrap">テキスト教材「Leadbook」をつかい</span><br />
        <span class="no-wrap">苦手科目の成績を</span>
        <span class="no-wrap">格段に飛躍させる「予習型学習塾」です。</span>
      </p>
    </div>
  </div>

  <div class="row">
    <a
      class="
        btn btn-dark
        badge-pill
        border border-white
        mx-auto
        text-white
        mx-2
        px-6
      "
      href="trial.html"
      role="button"
    >
      <span class="small">今すぐ無料体験 ></span>
    </a>
  </div>
</div>

<div class="container bg-white p-4">
  <div class="row">
    <div class="col-md-5 mb-4 remove">
      <div class="col text-dark">
        <h4 class="hei150">生徒のわからないを<br />取り除きます。</h4>
      </div>
    </div>
    <div class="col-md-7 pr-0">
      <p class="middle-small hei180 space2">
        Course6では講師はあくまでサポート役。<br />
        <span class="no-wrap">勉強は「Leadbook」という</span>
        <span class="no-wrap">独自に開発した学習教材で行います。</span>
        <span class="no-wrap d-none d-sm-block"
          >私たちは、学習における「分からない」を</span
        >
        <span class="no-wrap d-none d-sm-block"
          >ペイン(Pain)「(理解できないために伴う)痛み」と呼んでいます。</span
        >
        <span class="no-wrap d-none d-sm-block"
          >この、ペインに衝突しないテキストを開発することで、</span
        >
        <span class="no-wrap d-none d-sm-block"
          >理解度や学習スピードを格段に上げることに成功しました。</span
        >
      </p>
    </div>
  </div>

  <div class="row">
    <a
      class="
        btn btn-blue
        badge-pill
        border border-white
        mx-auto
        text-white
        mb-4
        px-6
      "
      href="about.html"
      role="button"
    >
      <span class="btn-small">塾について詳しく</span>
    </a>
  </div>
</div>

<div class="container p-4" id="bottom-content">
  <h5 class="text-white space3">授業料</h5>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">英語コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />英語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />国語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />定期テスト過去問<br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-blue
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              href="trial.html"
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">数学コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />数学カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />国語カリキュラム<br />
            <img
              src="./assets/image/icon-check.png"
              alt="check"
              height="8%"
              width="8%"
              class="mr-2"
            />定期テスト過去問<br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-blue
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              href="trial.html"
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card society">
        <div class="card-body text-center">
          <p class="text-gray yet h2">準備中</p>
          <p class="card-title">理科・社会コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <br />
            <br />
            <br />
          </p>
          <div class="text-center">
            <a
              class="
                btn btn-secondary
                badge-pill
                border border-white
                text-white
                mb-1
                px-10
              "
              role="button"
              >今すぐ無料体験</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
