<app-header></app-header>

<div class="container">
  <section class="row top">
    <p>
      都立入試特化<br />
      返金保証のある<br />
      ネット進学塾
    </p>
    <p>
      一発勝負の都立入試、<br />
      万が一に備えた返金保証制度。
    </p>
    <img class="top-image" src="./assets/image/mv.svg" alt="top-picture" />
    <app-button
      text="無料相談を申し込む"
      link="/trial"
      [width]="getButtonWidth()"
    ></app-button>
  </section>

  <section class="row feature">
    <h1>マイネット進学の特徴</h1>
    <div>
      <img src="./assets/image/relax-place.svg" alt="relax-place" />
      <div>
        <p class="student-p-1">01</p>
        <p class="student-p-2">家庭学習の習慣化</p>
        <p class="student-p-3">
          マイネット進学はネットの進学塾のため、生徒はリモート学習（家庭学習）が基本となっています。<br />
          家庭学習が当たり前になり、コロナ禍でも安定した学習を継続できたとの声を頂いております。
        </p>
      </div>
    </div>
    <div>
      <img src="./assets/image/man-to-man.svg" alt="man-to-man" class="pc-none" />
      <div>
        <p class="student-p-1">02</p>
        <p class="student-p-2">完全プライベート制</p>
        <p class="student-p-3">
          他の生徒に会うことは一切なく、完全プライベートで学習することができます。<br />
          またマンツーマンの対話形式なので、一般的な個別指導塾のように別の生徒への対応で自分が待たされるといった心配はありません。<br />
          講師はその生徒のためだけに時間を使うことができるので質は高いと考えます。
        </p>
      </div>
      <img src="./assets/image/man-to-man.svg" alt="man-to-man" class="sp-none" />
    </div>
    <div>
      <img src="./assets/image/self-study.svg" alt="self-study" />
      <div>
        <p class="student-p-1">03</p>
        <p class="student-p-2">受験を前提とした5科目指導</p>
        <p class="student-p-3">
          都立中学には受験対策のための指導義務がありません。<br />
          マイネット進学では生徒に入試までの全体スケジュールを共有し、都立中学の授業スピードに合わせず、早い段階から受験対策を行います。
        </p>
      </div>
    </div>
    <div>
      <img src="./assets/image/man-to-man.svg" alt="man-to-man" class="pc-none" />
      <div>
        <p class="student-p-1">04</p>
        <p class="student-p-2">合格実績</p>
        <p class="student-p-3">
          北園、文京、豊島、向丘<br />
          現在の合格率100%
        </p>
      </div>
      <img src="./assets/image/man-to-man.svg" alt="man-to-man" class="sp-none" />
    </div>
    <div>
      <img src="./assets/image/self-study.svg" alt="self-study" />
      <div>
        <p class="student-p-1">05</p>
        <p class="student-p-2">返金保証制度</p>
        <p class="student-p-3">
          マイネット進学では返金保証制度を設けております。<br />
          入塾時に支払う保証金32万円のうち、一般入試が不合格の場合には30万円を返金致します。
        </p>
      </div>
    </div>
  </section>

  <section class="row student">
    <h1>対象となる生徒</h1>
    <div>
      <div>
        <span>
          <img src="./assets/image/middle-school.svg" alt="middle-school" />
        </span>
        <p>新中学3年生の方</p>
        <p>在籍期間は3/1~翌年の2/28です。学校の新学期が始まる前にスタートします。</p>
      </div>
      <div>
        <span>
          <img src="./assets/image/online.svg" alt="online" />
        </span>
        <p>通塾の手間を省きたい方</p>
        <p>準備や移動の手間を無くすことが出来ます。天気やコロナの心配もしなくて済みます。</p>
      </div>
      <div>
        <span>
          <img
            src="./assets/image/study-motivation.svg"
            alt="study-motivation"
          />
        </span>
        <p>都立共通テスト校志望</p>
        <p>
          具体的には大学進学を前提として授業を進めている高校への進学を検討している方。
          板橋エリア（旧4学区）では、竹早、北園、文京、豊島、向丘高校が該当。
          ある程度、学校の授業についていけている必要があります。
          （国語と数学の内申点4以上。3の方はご相談下さい。）
          ※学校での授業態度といった評価は気にしません。
        </p>
      </div>
    </div>
    <app-button
      text="生徒の声を見る"
      [height]="45"
      [width]="240"
      link="/student-voice"
    ></app-button>
  </section>

  <section class="row flow">
    <h1>授業開始までの流れ</h1>
    <div>
      <div>
        <p>1. 無料個別相談</p>
        <img src="./assets/image/体験前面談.svg" alt="無料個別相談" />
      </div>
      <p>></p>
      <div>
        <p>2. ご家庭で検討</p>
        <img src="./assets/image/体験後面談.svg" alt="ご家庭で検討" />
      </div>
      <p>></p>
      <div>
        <p>3. 入塾</p>
        <img src="./assets/image/入塾.svg" alt="入塾" />
      </div>
      <p>></p>
      <div>
        <p>4. オリエンテーション</p>
        <img src="./assets/image/無料体験.svg" alt="オリエンテーション" />
      </div>
    </div>
    <app-button
      text="無料相談を申し込む"
      [height]="45"
      [width]="240"
      link="/trial"
    ></app-button>
  </section>
</div>

<app-footer></app-footer>
