<app-header></app-header>

<div class="container p-4" id="bottom-content">
  <h5 class="text-white space3">授業料</h5>

  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">英語コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">英語カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">国語カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">定期テスト過去問<br>
          </p>
          <div class=" text-center">
            <a class="btn btn-blue badge-pill border border-white text-white mb-1 px-10" href="trial.html" role="button">今すぐ無料体験</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-title">数学コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">数学カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">国語カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">定期テスト過去問<br>
          </p>
          <div class="text-center">
            <a class="btn btn-blue badge-pill border border-white text-white mb-1 px-10" href="trial.html" role="button">今すぐ無料体験</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card society">
        <div class="card-body text-center">
          <p class="text-gray yet h2">準備中</p>
          <p class="card-title">理科・社会コース</p>
          <p class="middle">￥18,900/<span class="small">月</span></p>
          <p class="card-text space2 text-gray small noto500 pl-0">
            <br>
            <br>
            <br>
            <!-- <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">理科カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">社会カリキュラム<br>
            <img src="./assets/image/icon-check.png" alt="check" height="8%" width="8%" class="mr-2">定期テスト過去問<br> -->
          </p>
          <div class="text-center">
            <a class="btn btn-secondary badge-pill border border-white text-white mb-1 px-10" role="button">今すぐ無料体験</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
