<app-header></app-header>

<div class="container">
  <section class="row header">
    <h1>{{ title }}</h1>
    <p>
      当塾はシンプルな1プランです。
    </p>
  </section>

  <section class="row price">
    <div>
      <div>
        <p>無料個別相談</p>
        <p class="free">
          ミスマッチを防ぐためにもまずは無料個別相談をご利用下さい。
        </p>
        <p>0円</p>
        <app-button
          text="無料相談へ"
          [height]="45"
          [width]="262"
          link="/trial"
        ></app-button>
      </div>
      <div>
        <p>デポジット（保証金）</p>
        <p class="basic">
          一般入試で不合格だった場合は、保証金32万円のうち30万円を返金致します。
        </p>
        <p>320,000円</p>
      </div>
    </div>
    <p class="sp-none">
      現在、入塾金はかかりません。維持費や管理費もかかりません。
    </p>
  </section>

  <section class="row plan">
    <div>
      <h2>プランの参考例</h2>
      <p>
        シンプルな3プラン<br />
        ご家庭の予算、お子様の習熟状況に合わせてご検討下さい。
      </p>
    </div>
    <div>
      <div>
        <p>プラン1<br class="sp-none" />（希望する1科目）</p>
        <p>
          ・週1（月4コマ）<br />
          ・1コマ90分<br />
          ・マンツーマン
        </p>
        <p>18,900円（税込み）</p>
      </div>
      <div>
        <p>プラン2<br class="sp-none" />（数 / 国 / 英 / 理 / 社）</p>
        <p>
          ・週2（月8コマ）<br />
          ・1コマ90分<br />
          ・マンツーマン
        </p>
        <p>37,800円（税込み）</p>
      </div>
      <div>
        <p>プラン3<br class="sp-none" />（数 / 国 / 英 / 理 / 社）</p>
        <p>
          ・週3（月12コマ）<br />
          ・1コマ90分<br />
          ・マンツーマン
        </p>
        <p>56,700円（税込み）</p>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
