.header {
  height: 200px;
  background: #243484;
  text-align: center;
  flex-direction: column;
  padding-top: 47px;
  h1 {
    font-size: 32px;
    line-height: 47px;
    color: #ffffff;
    margin-bottom: 21px;
  }
  p {
    color: #ffffff;
  }
}

@media (max-width: 749px) {
  .header {
    text-align: start;
    margin-bottom: 15px;
    padding: 40px 16px 0 16px;

    h1 {
      font-weight: 900;
      margin-bottom: 42px;
    }
  }
}
