<app-header></app-header>
<div class="container">
  <app-page-header
    [title]="title"
    description="生徒が約1年通塾して出た実績です。"
  ></app-page-header>
  <section class="row track-record">
    <h2>生徒事例</h2>
    <div class="track-record-image-pair">
      <img src="./assets/image/track-record/01.png" alt="" />
      <img src="./assets/image/track-record/02.png" alt="" />
    </div>

    <div class="track-record-image-pair">
      <img src="./assets/image/track-record/03.png" alt="" />
      <img src="./assets/image/track-record/04.png" alt="" />
    </div>

    <div class="track-record-image-pair">
      <img src="./assets/image/track-record/05.png" alt="" />
      <img src="./assets/image/track-record/06.png" alt="" />
    </div>

    <h2>その他コメント</h2>

    <div class="user-voice-cards">
      <app-user-voice-card
        src="./assets/image/student/01.png"
        grade="中学3年生"
        text="学校が同じ人とまた塾で会うのが嫌でした。離れた塾だと通塾が面倒なので自宅で受験勉強ができるこの塾を選びました。進学塾なので課題は多めですが、家でもしっかり受験対策ができて合格することができました。"
      ></app-user-voice-card>
      <app-user-voice-card
        src="./assets/image/student/02.png"
        grade="中学3年生"
        text="コロナ時の学校のオンライン授業は少しやり辛いなと感じていましたが、この塾ではオンラインのホワイトボードと電子ペンを使ってマンツーマンで解説してくれるので予想していたより快適で良かったです。"
      ></app-user-voice-card>
      <app-user-voice-card
        src="./assets/image/student/03.png"
        grade="中学3年生"
        text="目的があるのに戦略がないのは変、目的がなければ戦略もいらないと言われたことが印象的で勉強になりました。合格のためにどこに自分の時間を集中させるのか考えることができました。大学受験も頑張ります。"
      ></app-user-voice-card>
      <app-user-voice-card
        src="./assets/image/student/04.png"
        grade="中学3年生"
        text="私は数学が苦手だったのですが、入試（数学）の得点分布や、私の場合だとどの大問を落としてはいけないのか説明して貰えたので、意識して模試にも入試にも臨むことができました。情報の大切さを知りました。"
      ></app-user-voice-card>

      <app-user-voice-card
        src="./assets/image/student/05.png"
        grade="中学3年生"
        text="塾では「修復力」と言っていましたが、問題を解きながら何が分かっていないのか、どうゆうタイプの間違いなのか、自分で気付いて直していく力が必要だと教わりました。自習の質は前より上がったと思います。"
      ></app-user-voice-card>
      <app-user-voice-card
        src="./assets/image/student/06.png"
        grade="中学3年生"
        text="部活もしていたので通塾にかかる時間がなくなったのは本当に良かったです。自習してきて分からなかったところを質問する塾なので自分に合っていました。映像や講義型だと多分寝てました。笑"
      ></app-user-voice-card>
      <app-user-voice-card
        src="./assets/image/student/07.png"
        grade="中学3年生"
        text="内申点を上げるために具体的にどこを意識してやれば良いのかアドバイスを受けました。実際にその通りにやって上がりました。5教科だけでなく実技科目のアドバイスも貰えたのは良かったです。ありがとうございました!"
      ></app-user-voice-card>
    </div>
  </section>
</div>
<app-footer></app-footer>
