* {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
body {
  background-color: #fafafa;
  color: #323232;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 999px) {
  .pc-none {
    display: none;
  }
}
@media (max-width: 999px) {
  .sp-none {
    display: none !important;
  }
}
