<app-header></app-header>
<div class="container">
  <app-top-page-header
    buttonText="都立入試の今をチェック"
    buttonLink="/common-exam"
  ></app-top-page-header>
  <section class="row top-page">
    <h3>こんなお悩みありませんか？</h3>
    <div class="top-hr"></div>
    <img src="./assets/image/top-image01.png" alt="" class="sp-none" />
    <div class="pc-none top-image1">
      <img src="./assets/image/top-image01-sp01.png" alt="" />
      <img src="./assets/image/top-image01-sp02.png" alt="" />
      <img src="./assets/image/top-image01-sp03.png" alt="" />
    </div>

    <div class="ideal-and-reality">
      <span>理想</span>と<span>現実</span>には<br
        class="pc-none"
      />こんなに差があります...
    </div>

    <img src="./assets/image/top-image03.png" class="top-image3" alt="" />

    <img
      src="./assets/image/top-image02.png"
      class="top-image2 sp-none"
      alt=""
    />
    <img
      src="./assets/image/top-image02-sp.png"
      class="top-image2 pc-none"
      alt=""
    />

    <h2>マイネット進学を選ぶ理由</h2>

    <div class="feature-card-list">
      <div class="feature-card">
        <img src="./assets/image/feature01.svg" alt="" />
        <div class="feature-card-text">
          <div class="feature-card-heading">
            <p class="feature-card-support-and-index">
              <span class="feature-card-support">FEATURE</span>
              <span class="feature-card-index">01</span>
            </p>
            <h4 class="feature-card-title">受かる学習進度</h4>
          </div>
          <p class="feature-card-description">
            受験で必須の「範囲カバー」。公立中学の授業進度では受験範囲を学び終える頃には入試対策の時間がほとんど残されていません。マイネット進学を利用すれば、質の高いマンツーマン予習で集団のペースに合わせない対策が可能です。
          </p>
        </div>
      </div>

      <div class="feature-card">
        <img src="./assets/image/feature02.svg" class="pc-none" alt="" />
        <div class="feature-card-text">
          <div class="feature-card-heading">
            <p class="feature-card-support-and-index">
              <span class="feature-card-support">FEATURE</span>
              <span class="feature-card-index">02</span>
            </p>
            <h4 class="feature-card-title">入塾者全員の内申点UP</h4>
          </div>
          <p class="feature-card-description">
            都立入試で重要になる内申点。志望校に必要な基準点から逆算し、
            どの科目の内申点を上げにいくのか、狙いを定めて取り組んで貰っています。
          </p>
        </div>
        <img src="./assets/image/feature02.svg" class="sp-none" alt="" />
      </div>

      <div class="feature-card">
        <img src="./assets/image/feature03.svg" alt="" />
        <div class="feature-card-text">
          <div class="feature-card-heading">
            <p class="feature-card-support-and-index">
              <span class="feature-card-support">FEATURE</span>
              <span class="feature-card-index">03</span>
            </p>
            <h4 class="feature-card-title">志望校合格率100%</h4>
          </div>
          <p class="feature-card-description">
            春期・夏期講習、入試直前講習などに多くを費やしたにも関わらず合格できなかったという話をよく耳にします。当塾は講習なしのカリキュラムを組み、結果が出た場合に報酬を頂く制度を採用しています。
          </p>
        </div>
      </div>

      <div class="feature-card">
        <img src="./assets/image/feature04.svg" class="pc-none" alt="" />
        <div class="feature-card-text">
          <div class="feature-card-heading">
            <p class="feature-card-support-and-index">
              <span class="feature-card-support">FEATURE</span>
              <span class="feature-card-index">04</span>
            </p>
            <h4 class="feature-card-title">納得の成功報酬制</h4>
          </div>
          <p class="feature-card-description">
            春期・夏期講習、入試直前講習などに多くを費やしたにも関わらず合格できなかったという話をよく耳にします。当塾は講習なしのカリキュラムを組み、結果が出た場合に報酬を頂く制度を採用しています。
          </p>
        </div>
        <img src="./assets/image/feature04.svg" class="sp-none" alt="" />
      </div>

      <div class="feature-card">
        <img src="./assets/image/feature05.svg" alt="" />
        <div class="feature-card-text">
          <div class="feature-card-heading">
            <p class="feature-card-support-and-index">
              <span class="feature-card-support">FEATURE</span>
              <span class="feature-card-index">05</span>
            </p>
            <h4 class="feature-card-title">
              コミュニケーションの<br class="pc-none" />取りやすさ
            </h4>
          </div>
          <p class="feature-card-description">
            振替から些細な相談までLINEを使っていつでも気軽に連絡することが可能です。ビデオ通話を使った生徒面談、保護者面談を実施しているため準備や移動の手間がかかりません。
          </p>
        </div>
      </div>
    </div>

    <img src="./assets/image/top-image04.png" class="top-image4 sp-none" alt="" />
    <img src="./assets/image/top-image04-sp.png" class="top-image4 pc-none" alt="" />

    <h2>合格実績</h2>
    <div class="top-track-record">
      <img src="./assets/image/top-track-record01.png" alt="" />
      <img src="./assets/image/top-track-record02.png" alt="" />
      <img src="./assets/image/top-track-record03.png" alt="" />
    </div>

    <app-button text="生徒事例を見る" link="/track-record"></app-button>

    <app-service-flow-card
      heading="ご利用までの流れ"
      pcImageSrc="./assets/image/top-flow-pc.png"
      spImageSrc="./assets/image/top-flow-sp.png"
    ></app-service-flow-card>
  </section>
</div>
<app-footer></app-footer>
