.header {
  height: 200px;
  background: #243484;
  text-align: center;
  flex-direction: column;
  padding-top: 47px;
  h1 {
    font-size: 32px;
    line-height: 47px;
    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
}

.faq {
  display: block;
  margin-bottom: 100px;
  > div {
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 31px 0 25px 24px;
    margin-bottom: 24px;
    p:first-child {
      font-weight: 900;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      span {
        font-family: "Noto Sans JP", sans-serif !important;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #243484;
        margin-right: 8px;
      }
    }
    p:last-child {
      margin-top: 30px;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      span {
        font-family: "Noto Sans JP", sans-serif !important;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        color: #eb8002;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 749px) {
  .header {
    text-align: start;
    margin-bottom: 15px;
    padding: 40px 16px 0 16px;
    h1 {
      font-weight: 900;
    }
  }

  .faq {
    padding: 0 20px;
    > div {
      padding: 25px 16px 19px 16px;
      width: 100%;
      height: auto;

      p:first-child {
        span {
          font-size: 20px;
        }
      }
    }
  }
}
