<app-header></app-header>

<div class="container mt-4 size-ctrl">
  <div class="row mx-10">
    <div class="col">
      <div class="card mb-4 mt-2">
        <div class="card-header bg-faq text-white">
          Q　入会費はかかりますか？
        </div>
        <div class="card-body">
          <span class="text-blue a-text">A</span>
          <p class="card-text">
            入会費はかかりません。<br />
            いつ入塾されても入会費無料です。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-10">
    <div class="col">
      <div class="card mb-4 mt-2">
        <div class="card-header bg-faq text-white">
          Q　テキスト購入はありますか？
        </div>
        <div class="card-body">
          <span class="text-blue a-text">A</span>
          <p class="card-text mb-0">
            テキスト購入はありません。<br />
            Leadbookが教材です。
          </p>
          <div class="d-none d-sm-block link-about">
            <li><a href="about.html">Leadbookとは？</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-10">
    <div class="col mb-2">
      <div class="card mb-4 mt-2">
        <div class="card-header bg-faq text-white">
          Q　集団指導塾ですか? 個別指導塾ですか?
        </div>
        <div class="card-body">
          <span class="text-blue a-text">A</span>
          <p class="card-text">
            どちらでもありません。進路相談、理解度進捗など、コミュニケーション面は個別に対応しております。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
