<app-header></app-header>

<div class="container">
  <section class="row header">
    <h1>{{ title }}</h1>
    <p>無料相談などで頂いた質問なども、こちらに反映されております。</p>
  </section>
  <section class="row faq">
    <div>
      <p><span>Q</span>通塾するにあたって揃えるべきものはありますか？</p>
      <p><span>A</span>タブレット、またはPCをご用意ください。</p>
    </div>
    <div>
      <p><span>Q</span>タブレットの貸し出しはありますか？</p>
      <p>
        <span>A</span>
        貸し出しはしておりません。各ご家庭でご用意して頂く必要がございます。
      </p>
    </div>
    <div>
      <p><span>Q</span>入塾金はかかりますか？</p>
      <p><span>A</span>かかりません。</p>
    </div>
    <div>
      <p><span>Q</span>支払いについて教えてください。</p>
      <p>
        <span>A</span>
        前払い制を採用させていただいております。以下に例を記載しましたのでご参考ください。<br /><br />
        　　【7月分】<br />
        請求日：6月1日（クレジットカードのみ対応）<br />
        支払期日：6月15日<br />
        ※入塾が決まった際に請求のご案内を差し上げております。
      </p>
    </div>
    <div>
      <p><span>Q</span>夏期講習や冬期講習の受講は必須ですか？</p>
      <p>
        <span>A</span
        >必須ではありません。希望制となっておりますのでご安心ください。
      </p>
    </div>
    <div>
      <p><span>Q</span>授業の振替は可能ですか？</p>
      <p>
        <span>A</span>
        はい、可能です。生徒、講師双方の振替を実施させていただいております。
      </p>
    </div>
    <div>
      <p><span>Q</span>時間割はありますか？</p>
      <p>
        <span>A</span>
        平日18:00~19:30、20:00~21:30の2枠となっております。
      </p>
    </div>
  </section>
</div>

<app-footer></app-footer>
